</br>
<form action="/square/results">
 <label for="user_number">Enter a number</label>
<input type="text" id="user_number" name="number" style="width: 300px;" placeholder="What number do you want to square?">
<button>Calculate Square</button>
</form>

<%= params %>
